@charset "UTF-8";

h1, a, p, li, em, input {
	font-family: 'Nanum Gothic', sans-serif;
	color: black;
}

.skip {
	display: none;
}
#tothetop {
	position: fixed;
	bottom: 50%;
	right: 1rem;
	cursor: pointer;
}

#tothetop img {
	display: inline-block;
	width: 40px;
}

header {
	width: 100%;
	height: 80px;
	background-color: #ffea00;
}

#header_wrap {
	padding:10px 0px 0px 0px;
	height:100%;
	width: 1024px;
	margin: 0 auto;
}

#header_left {
	width:300px;
	float: left;
}


.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  width:40px;
  height:40px;
  padding:10px 3px 3px 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  width:100%;
  height:100%;
  color: black;
  padding: 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


nav {
	margin-right: 80px;
}

#btn_menu {
	position: absolute;
}
#btn_menu img {
	display: inline-block;
	margin:3px;
	width: 30px;
}




#cateogry{
	position: absolute;
	top: 10px;
	display: inline;
	width: 300px;
	background-color: #ececec;
}
	
	
	
	
	
	
	

#logo img {
	height: 45px;
	margin-top: 5px;
}

#header_center {
	float: left;
}

#search form {
	width: 430px;
	height: 45px;
	border: none;
	margin-top: 8px;
	position: relative;
}

#search input {
	display: inline-block;
	padding-left: 20px;
	width: 400px;
	height: 40px;
	border: 2px solid black;
	border-radius: 25px;
	position: absolute;
	
}
#btn_search{
	position: absolute;
	right:20px;
	top:12px;
}
#btn_search img {
	width: 20px;
}

#header_right {
	margin-top:15px;
	float: right;
	font-size: 15px;	
}
#btn_mypage {
	margin-right: 15px;
}
#btn_mypage img {
	width: 27px;
	margin-right: 5px;
	
}

#btn_logout img {
	height: 25px;
	margin-right: 5px;
}





/*section*/
section {
	width: 1024px;
	margin: 0 auto;
	padding-top:50px;
}
section h1 {
	font-size: 24px;
	font-weight: 900;
	font-stretch: -0.1px;
}

/*footer*/
footer {
	position:absolute;
	width:100%;
	bottom:0;
    background-color:#eaeaea;
}
#footer_wrap {
    width:1024px; margin:0 auto;
}
#footer_top {
    height:80px; border-bottom:1px solid #bdbdbd;
    padding-bottom:65px; overflow: hidden;
    box-sizing: border-box;
}
#footer_top ul {
    padding-top:25px; box-sizing: border-box;
}

#footer_top ul li {
    font-family:got11,sans-serif;
    float:left;
    box-sizing: border-box;
    padding:0 30px;
}

#footer_top ul li:nth-of-type(7) {
    border-right:0;
    padding-right:0;
}

#footer_top ul li a {
    color:#353535;
    font-size:0.875em;
}
#footer_top ul li a:hover {
    text-decoration:underline;
}

#footer_top ul li a em {
    font-family:got15,sans-serif;
}
#footer_top > a {
    float:right;
}
#footer_bottom {
    text-align:center; color:#353535;
    font-size:0.875em;
    font-family:got11,sans-serif;
    padding: 35px 0;
    box-sizing: border-box;
    line-height: 1.7;
}

#footer_bottom a img {
	margin-bottom: 30px;
}

